<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arrend_system.mapper.OrdersMapper">

    <resultMap id="OrdersResultMap" type="com.arrend_system.pojo.entity.Orders">
            <id property="orderId" column="order_id"/>
            <result property="title" column="title"/>
            <result property="orderType" column="order_type"/>
            <result property="addressId" column="address_id"/>
            <result property="position" column="position"/>
            <result property="cost" column="cost"/>
            <result property="publisher" column="publisher"/>
            <result property="orderTaker" column="order_taker"/>
            <result property="status" column="status"/>
            <result property="createTime" column="create_time"/>
            <result property="finishTime" column="finish_time"/>
            <result property="description" column="description"/>
    </resultMap>

        <resultMap id="goodsVoResultMap" type="com.arrend_system.pojo.vo.GoodsVo">
                <!-- GoodsVo 属性映射 -->
                <id column="item_id" property="itemId" />
                <result column="item_name" property="itemName" />
                <result column="description" property="description"/>
                <result column="type_name" property="categoryName" />
                <result column="price" property="price" />
        </resultMap>

        <select id="queryOrderList" resultType="com.arrend_system.pojo.vo.OrdersVo">
                select o.order_id, o.title, t.type_name as order_type,
                a.address_id, a.user_id, a.consignee, a.detail_address, a.area, a.phone, a.label, a.longitude, a.latitude,
                o.position, o.cost, o.order_taker, o.status, o.create_time, o.finish_time
                from orders o
                left join address a on o.address_id = a.address_id
                left join arrend_type t on o.order_type = t.type_id
                <where>
                        <if test="query.title != null and query.title != ''">
                                and o.title like concat('%', #{query.title}, '%')
                        </if>
                        <if test="query.orderType != null and query.orderType != ''">
                                and o.order_type = #{query.orderType}
                        </if>
                        <if test="query.addressId != null and query.addressId != ''">
                                and o.address_id = #{query.addressId}
                        </if>
                        <if test="query.mincost != null and query.mincost != ''">
                                and o.cost &gt;= #{query.mincost}
                        </if>
                        <if test="query.maxcost != null and query.maxcost != ''">
                                and o.cost &lt;= #{query.maxcost}
                        </if>
                        <if test="query.status != null and query.status != ''">
                                and o.status = #{query.status}
                        </if>
                        <if test="query.startTime != null and query.startTime != ''">
                                and o.create_time &gt;= #{query.startTime}
                        </if>
                        <if test="query.endTime != null and query.endTime != ''">
                                and o.create_time &lt;= #{query.endTime}
                        </if>
                </where>
        </select>

    <select id="getShop" resultType="com.arrend_system.pojo.vo.ShopInfoVo">
            select shop_id as shopId,shop_name as shopName from shop;
    </select>
        <select id="getGoodsList" resultMap="goodsVoResultMap">
                select
                g.item_id, g.item_name, g.img, g.price, g.sales, g.unit, g.stock,g.description,
                goods_type.type_name
                from goods g
                left join goods_type on g.item_type = goods_type.id
                where g.shop_id=#{shopId}
        </select>

</mapper>
