<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arrend_system.mapper.PermMapper">

    <resultMap id="BaseResultMap" type="com.arrend_system.pojo.entity.Perm">
            <id property="permId" column="perm_id" jdbcType="INTEGER"/>
            <result property="permTarget" column="perm_target" jdbcType="VARCHAR"/>
            <result property="permDetail" column="perm_detail" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        perm_id,perm_target,perm_detail,
        status
    </sql>
</mapper>
