<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arrend_system.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.arrend_system.pojo.entity.User">
        <id column="u_id" property="userId"/>
        <collection property="permList" resultMap="permResultMap"/>
    </resultMap>

    <resultMap id="permResultMap" type="com.arrend_system.pojo.entity.Perm">
        <id column="p_id" property="permId"/>
    </resultMap>

    <select id="findUserByUsername" resultMap="userResultMap">
        select *
        from user
        left join user_perm on user.u_id = user_perm.user_id
        left join perm on perm.p_id = user_perm.perm_id
        <where>
            <if test="username != null and username.trim() != ''">
                AND user.username = #{username}
            </if>
        </where>
    </select>

</mapper>
